<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    style
        include ../static/style.css
</head>
<body>
    <nav class="top" id="navbar"style=height:70px;>
        <ul> 
        <div id="logo">
            <img src="/static/1.png">AD'A
        </div>
         <li><a href="/">Home</a></li>
         <li><a href="/about">About</a></li>
         <li><a href="/services">Services</a></li>
         <li><a href="/class">Class Info</a></li>
         <li><a href="/contact">Contact Us</a> </li>
        </ul>
    </nav>
     <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3"><b><i>Aman's Dance Academy</i></b></h1>
          <p style="font-size:20px;"><b>Aman Dance Academy in Delhi. Dance Classes with Address, Contact Number, Photos, Maps. View Aman Dance Academy, Delhi on Justdial.Founded in the year 2005, Aman Dance Academy in , Delhi is amongst the revered academies for dance. A team of instructors trains a plethora of students in a variety of dance forms. This school is also instrumental in organising a host of events followed by fests that feature stage shows.</b></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2><b><i>Founder</i></b></h2>
            <p>Aman GUpta choreographer and dancer final participant of the india best dancer.He founded the Aman dance Academy in 2015 ,Its a great time to done this  . </p>
          </div>
          <div class="col-md-4">
            <h2><b><i>History</i></b></h2>
            <p>The dance academy was established in 2016,founded by Aman gupta which is professional dancer and chreographer under the sponshership of Davos,rempous and strone.</p>
          </div>
          <div class="col-md-4">
            <h2><b><i>Overview</i></b></h2>
            <p>A fun 2 hour Bollywood dancing workshop in Delhi. Individuals, couples or groups of up to 15 people. We teach 3-4 dance forms and make a video with or without Indian costumes (as per your choice and payment). Prior dance experience not necessary.</p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>
    <footer id="footer">Copyright @ Aman's Dance Academy.com   All Right Reserver </footer>

</html>
</body>