doctype html
html
  head
    title Aman dance Academy
    block scripts
    block style
  body
    nav#navbar.top
        ul  
            div#logo 
                img(src="/static/1.png")
                | AD'A
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/services") Services]             
            li #[a(href="/class") Class Info]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer
        |    Copyright @ Aman's Dance Academy.com   
        |   All Right Reserved       