<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    style
        include ../static/style.css
</head>
<body>
    <nav class="top" id="navbar" style=height:70px>
        <ul> 
        <div id="logo">
            <img src="/static/1.png">AD'A
        </div>
         <li><a href="/">Home</a></li>
         <li><a href="/about">About</a></li>
         <li><a href="/services">Services</a></li>
         <li><a href="/class">Class Info</a></li>
         <li><a href="/contact">Contact Us</a> </li>
        </ul>
    </nav>
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron" style=background-color:honerdew;color:black;margin-top:100px;>
        <div class="container">
          <h1 class="display-3"style=text-align:center><b><i>THANK YOU WE WILL CONTACT YOU SOON!!!</i></b></h1>
          
         
          
        </div>
         
      </div>
    
   
</body>
</html>    