<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    style
        include ../static/style.css
</head>
<body>
    <nav class="top" id="navbar" style=height:70px>
        <ul> 
        <div id="logo">
            <img src="/static/1.png">AD'A
        </div>
         <li><a href="/">Home</a></li>
         <li><a href="/about">About</a></li>
         <li><a href="/services">Services</a></li>
         <li><a href="/class">Class Info</a></li>
         <li><a href="/contact">Contact Us</a> </li>
        </ul>
    </nav>
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading"><b><i>Hip pop dance.</i></b> <span class="text"><b> It'll blow your mind.</b></span></h2>
            <p class="lead"><b><i>Hip hop music, also known as rap music, is a genre of popular music developed in the United States by inner-city African Americans and Latino Americans in the Bronx borough of New York City in the 1970s.In the 1970s, an underground urban movement known as "hip hop" began to form in the Bronx, New York City. It focused on emceeing (or MCing) over house parties and neighborhood block party events, held outdoors.</i></b></p>
        </div>
        <div class="col-md-5">
            <img src="/static/style4.jpg" width="500px"height="400px">
        </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading"><b><i>Jazz Dance</i></b> <span class="text"><b> Awesome and fantastic</span></h2>
            <p class="lead"><b><i>Image result for dance category jazz Jazz is the most popular style of dance among dancers. Jazz combines all dance styles in a high energetic dance that is without conventional boundaries. It has been influenced by ballet, modern, tap, hip-hop, African dance and many more styles. Jazz is most often accompanied by upbeat, currently popular songs.</i></b></p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="/static/style5.jpg" width="500px"height="400px">
        </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading"><b><i>Belly Dance</i></b><span class="text"><b> Start the belly Dancing</b></span></h2>
            <p class="lead"><b><i>Belly dance is primarily a torso-driven dance, with an emphasis on articulations of the hips. Unlike many Western dance forms, the focus of the dance is on isolations of the torso muscles, rather than on movements of the limbs through space a usually solo dance emphasizing movements of the belly..</i></b></p>
        </div>
        <div class="col-md-5">
            <img src="/static/style3.jpg" width="500px"height="400px">
        </div>
        </div>

        <hr class="featurette-divider">
        <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading"><b><i>Kathak Dance</i></b><span class="text"><b> Let"s do the Kathak</b></span></h2>
            <p class="lead"><b><i>Kathak is one of the eight major forms of Indian classical dance. The origin of Kathak is traditionally attributed to the traveling bards of ancient northern India known as Kathakars or storytellers Another popular and recognised form of classical Indian dance is Kathak that originated from Uttar Pradesh in north India..</i></b></p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="/static/style2.jpg" width="500px"height="400px">
        </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
        <div class="col-md-7 order-md-1">
            <h2 class="featurette-heading"><b><i>Lyrical Dance</i></b><span class="text"><b> Learn Lyrical And do Miracle</b></span></h2>
            <p class="lead"><b><i>hough the basis of lyrical dance is ballet merged with jazz and modern. It is dynamic while simultaneously subtle, and focuses on conveying feelings and emotions through movement. Set to popular songs that emphasize deeper feeling and emotion, such as grief, longing, love and despair. Lyrical shoes provide protection for the dancer while allowing them to feel the dance floor as much as possible.</i></b></p>
        </div>
        <div class="col-md-5 order-md-2">
            <img src="/static/style1.jpg" width="500px"height="400px">
        </div>
        </div>
    </div><!-- /.container -->
          
    <footer id="footer">Copyright @ Aman's Dance Academy.com   All Right Reserverd </footer>

</body>
</html>    